header {
  color: white;
  background-color: #000000;
  padding:10px;
}
.header-title {
  padding: 10px 0;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.currency-title {
  flex:2;
}
.currency-amount{
  padding: 5px 5px;
  border: 1px solid #cccccc;
  font-size: 15px;
  flex: 1;
}




