
.currency-input{
    padding: 10px 20px;
    border: 1px solid #cccccc;
    font-size: 15px;
    flex-grow: 4;
    text-transform: uppercase;
}
.addmore-btn {
    flex-grow: 1;
}

.submit-btn{
    flex-grow: 1;
}
.addMoreContainer{
    display: flex;
    margin: 30px 10px 10px 10px;
}

